html, body, div, img, span, ul, li, h2, p {
    margin :0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.clear {
    clear: both;
}
body {
    margin-top: 50px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.container {
    width: 648px;
    margin: 0 auto;
}
ul {
    border-bottom: 1px solid #CCC;
}
li {
    border-top: 1px solid #CCCCCC;
    list-style: none;
    display: block;
    padding: 15px 0;
}
.user {
    float: left;

}
.profileIcon {
    float: left;
}
.nameDate {
    float: left;
    margin-left: 10px;
}
.nameDate > span {
    color: #CCCCCC;
}
.vote {
    float: right;
}
.voteIcon {
    margin-left: 5px;
    cursor: pointer;
}
.positiveVotes {
    margin-top: 3px;
    color: #666666;
    display: block;
    float: right;
    font-weight: bold;
}
.negativeVotes {
    margin-top: 3px;
    color: #ED1C24;
    display: block;
    float: right;
    font-weight: bold;
}

.comment {
    margin: 20px 0 5px 0;
    font-size: 12px;
}
